/*just test*/

.testdiv {
width: 15000px;
height: 100px;
background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d0/1000x1000Pixel_mit_Gitter.png')

}


ul{
    color: blue ;
}

ul li {
   
 color:rgba(150, 25, 240, 0.9)
}

/*Classes*/

.google{
    color: aqua;  
    font-size: 80px
}
.google:hover{
    color: rgb(255, 0, 221)
}

/*ID's*/

#Naring:hover {
 
color: rgb(255, 136, 0);
font-weight: bold;
font-size: 40px;
background-image: url(Mrger/Narinj.jpg);

}
#Naring{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#Khndzor:hover {

    color: rgb(0, 255, 34);
    font-weight: bold;
    font-size: 40px;
    background-image: url(Mrger/Xndzor.jpg);
}
#Khndzor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


#Arqayaxndzor:hover {

    color: rgb(230, 220, 163);
    font-weight: bold;
    font-size: 40px;
    background-image: url(Mrger/Arqayaxndzor.jpg);
    background-position: center;
}

#Arqayaxndzor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Badrjan:hover {
        
    color: rgb(52, 0, 95);
    font-weight:bold;
    font-size: 40px;
    background-image: url(Mrger/Badrjan.jpg);
    background-position: -30%;
}

#Badrjan{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#Kaxamb:hover {

    color: rgb(165, 243, 149);
    font-weight:bold;
    font-size: 40px;
    background-image: url(Mrger/Kaxamb.jpg);
    background-position: center;
}
#Kaxamb{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#P1::first-letter {
    color: blue;
    font-size: 30px;
    font-style:italic;
    font-weight: bolder;
    
    }
    #P1::first-line{
    
    font-family: 'Courier New', Courier, monospace;
    
    }

#Press_me{
 font-size: small;
}     

/*div1 text1 classes*/

.text1:nth-child(1) {

    color: darkcyan;
}

.text1:nth-last-child(2) {
    color: brown;
}

.text1:nth-last-child(3) {
    color: aquamarine;
}

.text1:nth-child(4) {
    color: chocolate;
}



/* Form INPUT */

form input[type="submit"]{
    background: rgb(90, 223, 228);
}
